html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

main {
  margin-bottom: 150px;
}

h1,
h2 {
  font-family: $belligerant-font;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  text-align: center;
  font-family: $raleway-font;
  font-size: 1.25rem;
}

mark {
  &.important {
    background-color: transparent;
    color: red;
    font-weight: 500;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footer-text {
  font-family: $belligerant-font;
}
