@import "../node_modules/bootstrap/scss/bootstrap.scss";
@font-face {
  font-family: "belligerent_madnessregular";
  src: url("../fonts/belligerent/belligerent-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
p {
  font-family: "belligerent_madnessregular";
  text-align: center;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

footer {
  color: whitesmoke;
}

.product-img {
    border-radius: 0px 0px 15px 15px;
}
